@use 'variables' as vars;
@use 'sass:map';

//Светлая тема
$light-theme: (
  'color-bg': #f8f9fa,
  'color-bg-secondary': #e9ecef,

  'color-text': #2b2d42,
  'color-text-secondary': #6c757d,

  'color-primary': #4361ee,
  'color-primary-hover': #3a56d4,
  'color-danger': #f72585,
  'color-danger-hover': #e5177b,

  'color-border': #2f6193,

  'box-shadow': 0 1px 3px rgba(0, 0, 0, 0.08),
  'box-shadow-md': 0 4px 6px -1px rgba(0, 0, 0, 0.1),
);

//Тёмная тема
$dark-theme: (
  'color-bg': #212529,
  'color-bg-secondary': #343a40,
  
  'color-text': #f8f9fa,
  'color-text-secondary': #adb5bd,

  'color-primary': #4895ef,
  'color-primary-hover': #3a7bc8,
  'color-danger': #ff7096,
  'color-danger-hover': #ff477e,

  'color-border': #6ac3a0,

  'box-shadow': 0 1px 3px rgba(0, 0, 0, 0.2),
  'box-shadow-md': 0 4px 6px -1px rgb(0 96 69),
);

$all-vars: map.merge($dark-theme, vars.$vars);

:root {
  @each $name, $value in $all-vars {
    --#{$name}: #{$value};
  }
}

[todo-data-theme="light"] {
  @each $name, $value in $light-theme {
    --#{$name}: #{$value};
  }
}